@charset "ISO-8859-1";

table, th, td {
  border: 1px solid black;
}

#menu_title {
	display:block;
	padding-top: 10%;
	text-align: center;
}

#menu_separator {
	height:2px;
	border-width:0;
	color:gray;
	background-color:gray
}
#filter_title{
	display:block;
	padding-top: 10%;
	text-align: center;
}
#change_status{
	display:block;
	padding-top: 10%;
	text-align: center;
}
form {
	height:10%;
	margin-top: 20px;
}
.label {
    display: block;
    height: 30px;
    width: 100px;
    line-height: 30px;
    text-align: right;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: none;
}
.label1 {
    display: block;
    height: 30px;
    width: 100px;
    line-height: 30px;
    text-align: right;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: none;
}
.dropdown {
    display: block;
    width: 150px;
    height: 30px;
    background: #4E9CAF;
    text-align: right;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: none;
}
.text_field {
    display: block;
    width: 300px;
    height: 30px;
    background: #4E9CAF;
    text-align: right;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: none;
}
.button {
    display: block;
    width: 150px;
    height: 30px;
    background: #4E9CAF;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: none;
}
.inputs_div {
	height:50px;
}
.inquire_div {
	height:20px;
	margin-bottom: 20px;
}
