@charset "ISO-8859-1";

table, th, td {
	border: 1px solid black;
}

#menu_title {
	display: block;
	padding-top: 10%;
	text-align: center;
}

#menu_separator {
	height: 2px;
	border-width: 0;
	color: gray;
	background-color: gray
}

#filter_title {
	display: block;
	padding-top: 10%;
	text-align: center;
}

#change_status {
	display: block;
	padding-top: 10%;
	text-align: center;
}

form {
	height: 10%;
	margin-top: 20px;
}
.label {
	display: block;
	height: 30px;
	width: 100px;
	line-height: 30px;
	text-align: right;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	margin-bottom: 20px;
	text-decoration: none;
}
.label_menu{
	display: block;
	height: 30px;
	width: 100px;
	line-height: 30px;
	text-align: right;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	margin-bottom: 20px;
	text-decoration: none;
	float:left;
	margin-right: 10px;
}

.label_menu1{
	float:left;
	margin-right: 10px;
}

.label_customer_menu{
	width:200px!important;
}

.label_value {
	width:200px!important;
	text-align: left!important;
}

.dropdown {
	display: block;
	width: 300px;
	height: 30px;
	background: #4E9CAF;
	text-align: right;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	margin-bottom: 20px;
	text-decoration: none;
}

.dropdown_float {
	float:left;
	margin-right: 10px;
}

.text_field {
	display: block;
	width: 300px;
	height: 30px;
	background: #4E9CAF;
	text-align: right;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	margin-bottom: 20px;
	text-decoration: none;
}

.button {
	display: block;
	width: 150px;
	height: 30px;
	background: #4E9CAF;
	text-align: center;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	margin-bottom: 20px;
	text-decoration: none;
}

.button_float {
	float:left;
}

.inputs_div {
	height: 50px;
	float:left;
}

.inquire_div {
	height: 20px;
	margin-bottom: 10px;
}

.exit_div {
	height: 20px;
	margin-bottom: 10px;
}
/* Full-width inputs */
/*
input_log[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


Add a hover effect for buttons 
button:hover {
  opacity: 0.8;
}

