<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" class="aui">
<head>
    <title>Courses System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="../../resources/css/style.css" />
</head>
<body>
	<h1 id="change_status"  th:text="#{change_status}"></h1>
	<hr id="menu_separator"/>
	
	
	<form action="#" th:action="@{/change_course_status}" th:object="${course}" method="post">
    <p>Enter course id: <input type="text" th:field="*{courseId}" /></p>
    <input type="submit" th:value="#{change}" />
</form>
</body>
</html>