<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<link rel="stylesheet" type="text/css" href="../../resources/css/style.css" />
		<title>Courses System</title>
	</head>
<body>
	<h1 id="filter_title" th:text="#{filter_course}"></h1>
	<hr id="menu_separator" />
	<form action="#" th:action="@{/filter_courses_by_status}" th:object="${course}" method="post">
	<select th:field="*{courseStatus}">
  	<option 
      th:each="dropdownValue: ${singleSelectAllValues}"
      th:value="${dropdownValue}"
      th:text="${dropdownValue}" >
   	</option>
	</select>
	<input type="submit" th:value="#{search}" />
	</form>
	
	<table>
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Description</th>
              <th>Status</th>
              <th>Max Capacity</th>
              <th>Period Months</th>
              <th>Start Date</th>
          </tr>
          
          <tr th:each="course : ${courses}">
              	<td th:text="${course.courseId}">Id</td>
              	<td th:text="${course.courseName}">Name</td>
              	<td th:text="${course.description}">Description</td>
              	<td th:text="${course.courseStatus}">Status</td>
              	<td th:text="${course.maxCapacity}">Max Capacity</td>
				<td th:text="${course.periodMonths}">Period Months</td>
				<td th:text="${course.courseStartDate}">Start Date</td>
          </tr>
   	</table>

</body>
</html>