<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Courses System</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css"
	href="../../resources/css/style.css" />
</head>
<body>
	<h1>Welcome to our home page!</h1>
	
	<form th:if="${isLogged == false}" th:action="@{/login}" style="width: 100%; float: left;">
		<div class="inquire_div">
			<input type="submit" class="button" style="margin-right: 50px" value="Login" />
		</div>
	</form>
	
	<form th:if="${isLogged == true}" th:action="@{/tryLogout}" method="post" style="width: 100%; float: left;">
		<div class="inquire_div">
			<input type="submit" class="button" style="margin-right: 50px" value="Logout" />
		</div>
	</form>
	
</body>
</html>