<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login page</title>
<link rel="stylesheet" type="text/css"
	href="../../resources/css/style.css" />
</head>
<body>
	<h1>Login page</h1>
	<p th:if="${loginError == true}" class="error">Wrong user or
		password</p>
	<form th:action="@{/tryLogin}" th:object="${customer}" method="post">
		<div class="inputs_div">
			<label class="label" style="float: left; margin-right: 10px">User
				Name:</label> <input type="text" th:field="*{username}" class="text_field"
				style="float: left; margin-right: 10px"
				placeholder="Enter user name" />
		</div>
		<div class="inputs_div">
			<label class="label" style="float: left; margin-right: 10px">Password:</label>
			<input type="password" th:field="*{password}" class="text_field"
				style="float: left; margin-right: 10px" placeholder="Enter password" />
		</div>
		<input type="submit" class="button" value="Log in" />
	</form>
</body>